
body{
    background-color: azure;
}
#navbar-header{
    background-color: rgb(74, 85, 95);
    border-radius: 0;
    border: 0;
    width: 100%;
}
.navbar-brand > span {
    color: black;
    font-size: x-large;
    font-weight: 700;
}

div.container{
    
    width: 100%;
    
}
#button{
    border-color: black;
    background-color: lightslategray;
}
#button span{
    background-color: black;
}

#blog-text{
    width: 100%;
    padding: 0px 10px 10px 10px;
    background-color: rgb(74, 85, 95);
    color: aliceblue;
}
#contain{
    width: 100%;
    padding: 0;
}
.txt,.txt1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    font-weight: 700; position: relative;
    top: 0; 
    margin-bottom: 10px;
    color: black;
}
.txt{
    text-transform: uppercase;
    font-weight: 900;
    
}
#nav-list li {
    color: whitesmoke;
    font-size: medium;
}

@media (min-width: 922px) {

} 
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}